.all-employees-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(6px);
    display: none;
    place-items: center;
}
.all-employees-form > button {
    position:  absolute;
    top: 2rem;
    right: 2rem;
}
#save-employee-form, #modify-delete-employee-form {
    width: 40%;
    height: 98%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
}
