/* --------------------- Main Section CSS -------------------------- */
.second-heading {
    font-size: 3rem;
    margin: auto;
}

.employee-management-main {
    margin: 2rem auto;
    border: 1px solid green;
}
.employee-management-main > section {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    border: 1px solid pink;
}
.employee-management-main > section > h3 {
    width: 100%;
    height: 20rem;
    display: grid;
    place-items: center;
    border: 1px solid purple;
}
.employee-management-main > section > h3 > a {
    font-size: 2rem;
}
