/* --------------------- Main Section CSS -------------------------- */
.second-heading {
    font-size: 3rem;
    margin: auto;
}

.employee-management-main > section {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}
.employee-management-main > section a {
    width:  100%;
    text-decoration: none;
}
.employee-management-main > section a::after  {
    position: relative;
    display: block;
    bottom: 4rem;
    left: 0;
    color: black;
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
}
.employee-management-main > section a img {
    width:  100%;
    height: 30rem;
    border-radius: 100%;
}
#current-employee-information::after {
    content: 'Current Employee Information';
}
#view-transactions::after {
    content: 'View Transactions';
}
#save-transactions::after {
    content: 'Save transactions';
}
