#homeCarouselAutoPlaying .carousel-item img {
    height: 39rem;
}

#homeCarouselAutoPlaying .carousel-item video {
    height: 39rem;
    width: 100%;
}

.card {
    width: 12rem;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

.card img {
    height: 80%;
}

#img_1905 {
    height: 22rem;
    object-fit: cover;
    border-radius: 6.3rem;
}

#img_1905:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}


@media screen and (max-width: 1000px) {
    #img_1905 {
        height: 18rem;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 8rem;
    }

    #homeCarouselAutoPlaying .carousel-item img {
        height: 27.7rem;
    }

    #homeCarouselAutoPlaying .carousel-item video {
        height: 27.7rem;
    }

    #img_1905 {
        height: 13rem;
    }
}

@media screen and (max-width: 380px) {
    #homeCarouselAutoPlaying .carousel-item img {
        height: 22rem;
    }

    #homeCarouselAutoPlaying .carousel-item video {
        height: 22rem;
    }

    #img_1905 {
        height: 11rem;
    }
}