#homeCarouselAutoPlaying .carousel-item img {
    height: 700px;
}

.card {
    width: 12rem;
}

#img_1905 {
    height: 400px;
    object-fit: cover;
}


@media screen and (max-width: 768px) {
    .card {
        width: 8rem;
    }
    #homeCarouselAutoPlaying .carousel-item img {
        height: 500px;
    }
    #img_1905 {
        height: 300px;
    }
}

@media screen and (max-width: 380px) {
    #homeCarouselAutoPlaying .carousel-item img {
        height: 400px;
    }
    #img_1905 {
        height: 200px;
    }
}
