/* --------------------- Universal CSS -------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

/* ------------------------- Header CSS -------------------------- */
header {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    border: 1px solid red;
    font-size: 4.5rem;
    margin: 1rem 0rem;
}
header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header nav ul {
    border: 1px solid green;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    height: 3rem;
}
header nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
}

/* --------------------- Main Section CSS -------------------------- */
.home-main {
    margin: 2rem auto;
    border: 1px solid green;
}
.home-main > section {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    border: 1px solid pink;
}
.home-main > section > h2 {
    width: 100%;
    height: 20rem;
    display: grid;
    place-items: center;
    border: 1px solid purple;
}


/* --------------------------- Utility CSS ------------------------ */
.w-80 {
    width: 80%;
}
