/* --------------------- Universal CSS -------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}


/* ------------------------- Header CSS -------------------------- */
header {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    border: 1px solid red;
    font-size: 4.5rem;
    margin: 1rem 0rem;
}
header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header nav ul {
    border: 1px solid green;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    height: 3rem;
}
header nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
}

/* ----------------------- Employee List CSS ---------------------- */

/* -------------------- Recent Transaction CSS -------------------- */



/* --------------------------- Utility CSS ------------------------ */
.w-80 {
    width: 80%;
}

/* Section styling */
.section-alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
}

.h3-font-size {
    font-size: 3rem;
}

.inner-width-100 > * {
    width: 100%;
}

/* Table styling */
.table-basic-style {
    border: 2px solid black;
    margin-top: 1rem;
}
.table-basic-style th {
    font-size: 2.5rem;
}
.table-basic-style td {
    font-size: 2rem;
    text-align: center;
}
.table-basic-style tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table-basic-style tr:hover {
    background-color: #ddd;
}
