/* --------------------- Universal CSS -------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

/* ------------------------- Header CSS -------------------------- */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 194, 120);
}
header h1 {
    font-size: 4.5rem;
    margin: 1rem 0rem;
}
header h1 a {
    text-decoration: none;
    color: rgb(198, 0, 99);
}
header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    height: 3rem;
}
header nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
}

/* --------------------- Main Section CSS -------------------------- */
.home-main {
    margin: 2rem auto;
}
.home-main > section {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}
.home-main > section a {
    width: 100%;
}
.home-main > section a img {
    width: 100%;
    height: 30rem;
}

/* --------------------------- Utility CSS ------------------------ */
.w-80 {
    width: 80%;
}
.m-tb-2rem {
    margin: 2rem auto;
}
