<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rathi Sweet Home - Admin SignUp Page</title>
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_icon_font_css() }}
</head>

<body>
    <header>
        <h1 class="text-center border border-1 border-dark-subtle p-3">Admin SignUp</h1>
    </header>

    {% if alert %}
    <div class="alert alert-{{ alert.type }} alert-dismissible fade show" role="alert">
        <strong>{{ alert.strong_message }}</strong> {{ alert.message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <div class="container mt-5">
        <form method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p class="my-3" style="font-size: 0.5rem;">Click here to <a href="/admin/login">Login</a></p>
    </div>

    {{ bootstrap.load_js() }}
</body>

</html>