<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Shree Rathi Sweets Home{% endblock %}</title>
  <script src="{{url_for('static',filename = 'js/index.js')}}"></script>
  {{ bootstrap.load_css() }}
  {{ bootstrap.load_icon_font_css() }}
  {% block head %}
  {% endblock %}
  <style>
    #logo {
      height: 3rem;
      border-radius: 2rem;
    }

    #logo:hover {
      transform: scale(1.5);
      transition: transform 0.3s ease-in-out;
    }
  </style>
</head>

<body>
  <header class="sticky-top">
    <nav class="navbar navbar-expand-lg" style="background-color: #E6E6FA;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="{{url_for('static', filename = 'images/logo.png')}}" alt="Logo" id="logo" loading="eager"
            fetchpriority="high" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% block navLinks %}
            {% endblock %}
            {% if current_user.is_authenticated and current_user.user_type.value == 'ADMIN' %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-primary-emphasis fw-medium" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Employee Management
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/employeeManagement/allEmployees"
                    id="employee-information-nav-link">Employee Information</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/employeeManagement/viewTransactions"
                    id="view-transactions-nav-link">View Transactions</a></li>
                <li><a class="dropdown-item" href="/employeeManagement/saveTransactions"
                    id="save-transactions-nav-link">Make Transactions</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/employeeManagement/absence" id="absence-nav-link">Absence
                    Tracker</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/employeeManagement/paySlip" id="pay-slip-nav-link">PaySlip</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary-emphasis fw-medium" aria-current="page" href="/expenses">Expenses</a>
            </li>
            {% endif %}
          </ul>
          {% if current_user.is_authenticated %}
          <div>
            <ul class="navbar-nav me-auto mb-lg-0 gap-2">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary-emphasis fw-medium border border-dark-subtle" href="#"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ current_user.user_email }}
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/admin/create">Create Admin</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/admin/logout">Log Out</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>
  {% block content %}
  {% endblock %}
  {{ bootstrap.load_js() }}
</body>

</html>