{% extends "index.html" %}
{% block title %}Rathi Sweet Home - Expense Tracker{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<main class="container-xl my-3">
    <h2 class="mb-3 text-center">Expense Tracker</h2>

    <div class="d-flex justify-content-between align-items-center flex-wrap">
        <h4>Save Daily Expenses</h4>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveExpenseCategory">
            New Expense Category
        </button>
        <div class="modal fade" id="saveExpenseCategory" tabindex="-1" aria-labelledby="saveExpenseCategoryLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="saveExpenseCategoryLabel">Create new expense category</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/expenses/addExpenseCategory" method="POST">
                            <div class="mb-3">
                                <label for="expense-category" class="form-label">Expense Category</label>
                                <input type="text" name="category" class="form-control" id="expense-category" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Category</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="/expenses/addExpense" method="POST">
        <div class="mb-3">
            <label for="categories" class="form-label">Select Categories</label>
            <select class="form-select form-select-lg" aria-label="Large select example" name="category"
                id="categories">
                {% for category in expense_categories %}
                <option value="{{ category.category }}">{{ category.category }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="text" name="amount" class="form-control" id="amount" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Expense</button>
    </form>

    <div class="mt-5 overflow-x-auto">
        <h4>View Expenses</h4>

        <div class="my-3">
            <form id="filter-expense-by-date-form" class="d-flex flex-wrap gap-3">
                <input type="date" name="date" id="filter-expense-by-date" required>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>

        <table class="table my-3" style="white-space: nowrap">
            <thead class="table-light">
                <tr>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th>{{ total_of_expenses }}</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

</main>
{% endblock %}
