{% extends 'base.html' %}
{% block title %}Shree Rathi Sweet Home - Home Page{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block navLinks %}
<li class="nav-item">
    <a class="nav-link text-primary-emphasis fw-medium" aria-current="page" href="#bestSeller">Specialities</a>
</li>
<li class="nav-item">
    <a class="nav-link text-primary-emphasis fw-medium" aria-current="page" href="#experience">Experience</a>
</li>
{% endblock %}

{% block content %}
<main>
    <section class="h-75 mb-3">
        <div id="homeCarouselAutoPlaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{url_for('static',filename = 'images/test.webp')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <video src="{{url_for('static',filename = 'videos/rathiSweetHome_homePage.mp4')}}" controls autoplay
                        muted loop></video>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#homeCarouselAutoPlaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#homeCarouselAutoPlaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section class="my-3" id="bestSeller">
        <article>
            <h2 class="text-center text-uppercase">Best Seller</h2>
            <p class="text-center text-capitalize" style="font-size: 0.5rem;">We bring out best in sweets</p>
            <div class="container d-flex justify-content-center flex-wrap gap-3">
                <div class="card">
                    <img src="{{url_for('static',filename = 'images/kaju_katli.jpeg')}}" class="card-img-top"
                        alt="kaju katli">
                    <div class="card-body">
                        <p class="card-text text-center">Kaju Katli</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{url_for('static',filename = 'images/milk_cake.jpg')}}" class="card-img-top"
                        alt="milk cake">
                    <div class="card-body">
                        <p class="card-text text-center">Milk Cake</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{url_for('static',filename = 'images/rabdi.webp')}}" class="card-img-top" alt="Rabdi">
                    <div class="card-body">
                        <p class="card-text text-center">Rabdi</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{url_for('static',filename = 'images/lasi.webp')}}" class="card-img-top" alt="Lasi">
                    <div class="card-body">
                        <p class="card-text text-center">Lasi</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{url_for('static',filename = 'images/peda.webp')}}" class="card-img-top" alt="Peda">
                    <div class="card-body">
                        <p class="card-text text-center">Peda</p>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <section class="container-xl mx-auto my-5" id="experience">
        <article class="row">
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <h2 class="text-capitalize text-center">Excellence of 120+ years since 1905</h2>
                <p class="text-center text-break" style="font-size: 0.5rem;">The makers of the famous Rabdi</p>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <img src="{{url_for('static',filename = 'images/rabdi.webp')}}" id="img_1905" alt="Rabdi">
            </div>
        </article>
    </section>
</main>

<footer class="bg-light p-5 pb-0">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div>
                    <h3>Curious?</h3>
                    <h3>Give us a call today</h3>
                    <p>Rathi Sweet Home is your one-stop-shop for all your sweet and savory cravings.</p>
                </div>
            </div>
            <div class="col">
                <h4>Contact Us</h4>
                <p>Mobile Number - 9829151621</p>
                <p>Address - <a href="https://share.google/fmmLiU3amfMTVtJFt">Shree Rathi Sweets Home, Opposite Gvt.
                        Hospital, Ahore, Jalore, Rajasthan, 307029</a></p>
            </div>
        </div>
    </div>
    <p class="text-center mt-5" style="font-size: 0.5rem;">© 2025 by Shree Rathi Sweets Home. Designed & Developed by
        Jayesh
        Rathi</p>
</footer>
{% endblock %}
