<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
    <title>{% block title %}Rathi Sweet Home{% endblock %}</title>
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_icon_font_css() }}
    {% block head %}
    <script src="{{url_for('static',filename = 'js/index.js')}}"></script>
    {% endblock %}
</head>

<body>
    <header>
        <nav class="w-80">
            <h1><a href="/">Rathi Sweet Home</a></h1>
        </nav>
    </header>

    {% block content %}
    <main class="w-80 home-main">
        <section>
            <a href="/employeeManagement">
                <img src="{{url_for('static',filename = 'images/employee_management.jpg')}}" alt="Employee-Management">
            </a>
        </section>
    </main>
    {% endblock %}
    {{ bootstrap.load_js() }}
</body>

</html>
