{% extends "index.html" %}
{% block title %}Rathi Sweet Home - Employee Management{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/employee_management/employee_management_dashboard.css">
{% endblock %}
{% block content %}
<h2 class="w-80 second-heading">Employee Management Dashboard</h2>

<main class="w-80 employee-management-main m-tb-2rem">
<section>
    <h3><a href="/employeeManagement/allEmployees">Current Employee Information</a></h3>
    <h3><a href="/employeeInformation">Current Employee Information</a></h3>
    <h3><a href="/employeeInformation">Current Employee Information</a></h3>
    <h3><a href="/employeeInformation">Current Employee Information</a></h3>
    <h3><a href="/employeeInformation">Current Employee Information</a></h3>
</section>
</main>
{% endblock %}