{% extends "index.html" %}
{% block title %}Rathi Sweet Home - Employee Management{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename = 'css/employee_management/employee_management_dashboard.css')}}">
{% endblock %}
{% block content %}
<h2 class="w-80 second-heading">Employee Management Dashboard</h2>

<main class="w-80 employee-management-main m-tb-2rem">
<section>
    <a href="/employeeManagement/allEmployees" id="current-employee-information">
        <img src="{{url_for('static',filename = 'images/current_employee_information.jpg')}}" alt="Employee Information">
    </a>
    <a href="/employeeManagement/viewTransactions" id="view-transactions">
        <img src="{{url_for('static',filename = 'images/view_transactions.jpg')}}" alt="View Transactions">
    </a>
    <a href="/employeeManagement/saveTransactions" id="save-transactions">
        <img src="{{url_for('static',filename = 'images/save_transactions.png')}}" alt="Save Transactions">
    </a>
</section>
</main>
{% endblock %}
