{% extends "base.html" %}
{% block title %}Rathi Sweet Home - Employee Management - All Employees{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container-xl my-3 overflow-x-auto">
    <h2 class="mb-3">View Transactions</h2>

    <div class="d-flex flex-wrap gap-3">
        <a href="?transactions_limit=7" class="btn btn-primary">Last 7 Transactions</a>
        <a href="?transactions_limit=30" class="btn btn-primary">Last 30 Transactions</a>
        {% for user in users %}
        <a href="?user_id={{ user._id }}&transactions_limit=30" class="btn btn-primary">For {{ user.name }}</a>
        {% endfor %}
    </div>

    <table class="table my-3" style="white-space: nowrap">
        <thead class="table-light">
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Amount</th>
                <th>Transaction Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in user_transactions %}
            <tr>
                <td>{{ transaction._id }}</td>
                <td>{{ transaction.user_name }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="{{url_for('static',filename = 'js/employee_management/view_transactions.js')}}"></script>
{% endblock %}
